<div style="text-align:center">
  <h1>
    Welcome to Angular integration for Pentaho CDE Dashboards!
  </h1>
</div>

Before continuing, please check what is following:
<ul>
  <li>A Pentaho instance is up and running at 'localhost:8080/pentaho'.</li>
  <li>A Pentaho CDE Dashboard exists at '/public/sample1.wcdf'.</li>
  <li>The 'sample1.wcdf' dashboard accepts a paramter named 'param1'.</li>
  <li>A copy of the 'sample1.wcdf' dashboard exists at '/public/sample2.wcdf'.</li>
  <li>The 'sample2.wcdf' dashboard accepts the paramter named 'param2'.</li>
</ul>

<h1>
  Test n.1 - A dashboard with an interactive filter.
</h1>
<div>
  <pentaho-dashboard
    id = "dashboard1"
    pentahoPath = "/public/sample1.wcdf">
  </pentaho-dashboard>
</div>

<h1>
  Test n.2 - An external HTML element controlling a dashboard.
</h1>
Update the filter below to update the dashboard.
<div>
  <select id="externalHtmlElementId">
    <option value="Classic Cars">Classic Cars</option>
    <option value="Motorcycles">Motorcycles</option>
    <option value="Planes">Planes</option>
    <option value="Ships">Ships</option>
    <option value="Trains">Trains</option>
  </select>
  <pentaho-dashboard
    id = "dashboard2"
    pentahoPath = "/public/sample2.wcdf"
    [params] = "['param2']"
    masterHtmlElementId = "externalHtmlElementId">
  </pentaho-dashboard>
</div>

<h1>
  Test n.3 - A dashboard controlling the second dashboard.
</h1>
Update the filter on the first dashboard to updated the second accordingly.
<div>
  <pentaho-dashboard
    id = "dashboard3"
    pentahoPath = "/public/sample1.wcdf">
  </pentaho-dashboard>
  <pentaho-dashboard
    id = "dashboard4"
    pentahoPath = "/public/sample2.wcdf"
    [params] = "['param2']"
    masterDashboardId = "dashboard3"
    [masterDashboardParams] = "['param1']">
  </pentaho-dashboard>
</div>
